progestat_trabalho versao 0.02 .r

Trabalho-ProgEstat_Trabalho_Prog_Estat_Tema_Galton_Grupo_Lara_e_Marcelo.ipynb at main · Marcehlin_Trabalho-ProgEstat_files

.vscode

Trabalho_Prog_Estat_Tema_Galton_Grupo_Lara_e_Marcelo.html

Trabalho_Prog_Estat_Tema_Galton_Grupo_Lara_e_Marcelo.ipynb

Trabalho-ProgEstat_Trabalho_Prog_Estat_Tema_Galton_Grupo_Lara_e_Marcelo.ipynb at main · Marcehlin_Trabalho-ProgEstat.html

vertopal.com_Trabalho_Prog_Estat_Tema_Galton_Grupo_Lara_e_Marcelo.pdf